body {
	background: rgba(32, 33, 36, 1) !important;
}

h1 {
	color: whitesmoke;
}

h2 {
	color: whitesmoke;
}

h3 {
	color: whitesmoke;
}

h5 {
	color: black;
}

p {
	color: whitesmoke;

}

.Resources {
	padding-top: 12px;
}
.vis_preview_img {
	width: 50%;
	margin: 7px;
}

div.container {
	margin-bottom: 0px;
}

.viz_box {
	padding-top: 20px;
}

.viz_preview {
	text-align: center;
}

.side-bar-dropdown {
	color: whitesmoke;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: grey;
}
