body {
	background: rgba(32, 33, 36, 1) !important;
}

h1 {
	color: whitesmoke;
}

h2 {
	color: whitesmoke;
}

h3 {
	color: whitesmoke;
}

p {
	color: whitesmoke;

}

.Resources {
	padding-top: 12px;
}
.vis_preview_img {
	height: 3%;
	/* display: flex; */
	/* justify-content: space-between; */
	margin: 10px;
}

div.container {
	margin-bottom: 0px;
}

tr {
	width: 30px !important;
}

